# Ignorar ambientes virtuais
venv/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema (ex: MacOS)
.DS_Store

# Ignorar arquivos específicos de IDEs
.vscode/
.idea/

# Ignorar arquivos gerados
*.csv
*.parquet

# Ignorar diretórios de cache do Python
__pycache__/
